<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EDeskTestDemo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EDeskTestDemo.styles.css" asp-append-version="true" />
    
</head>
<body>
    @*
        Here is the header for default .net core web app. I deleted it
    *@


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


   @*
        Here is the footer for default .net core web app. I deleted it
        At here have some links for "bootstrap treeview". I tend to not install download the source code for convenience
   *@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery_treeview.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
